### Workspace to teste things to pipeline
---
Dataset url: wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet

In [1]:
import pandas as pd

In [4]:
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [3]:
!pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2023.4.0-cp310-cp310-win_amd64.whl (618 kB)
                                              0.0/618.0 kB ? eta -:--:--
     ------------------------------------  614.4/618.0 kB 19.5 MB/s eta 0:00:01
     ------------------------------------- 618.0/618.0 kB 12.9 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.5.0 in c:\users\junio\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from fastparquet) (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\junio\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from fastparquet) (1.24.2)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.6.2-cp310-none-win_amd64.whl (1.2 MB)
                                              0.0/1.2 MB ? eta -:--:--
     ---------------------                    0.7/1.2 MB 21.5 MB/s eta 0:00:01
     ---------------------------------------- 1.2/1.2 MB 19.7 MB/s eta 0:00:00
Collecting fsspec (from fastparquet)
  Downloading fsspec-2023.6.0-py3-none-any.whl (163 kB)
                                              0.0/163.8 kB ? eta -:--:--
     ---------------------------------------- 163.8/163.8 kB ? eta 0:00:00
Requirement already satisfied: packaging in c:\users\junio\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from fastparquet) (23.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\junio\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\junio\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=1.5.0->fastparquet) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\junio\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas>=1.5.0->fastparquet) (1.16.0)
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.6.2 fastparquet-2023.4.0 fsspec-2023.6.0

In [15]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [18]:
#You dont need to convert the datetimes like in old csv version
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [13]:
df[['payment_type','total_amount']].groupby('payment_type').agg(['sum','count'])

             total_amount
                      sum   count
payment_type
0              3051485.73   98352
1             16190646.15  934475
2              4642994.31  322891
3                67659.79    8384
4               -16889.89    5667

* Generate DDL model for import

In [17]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_date'))

CREATE TABLE "yellow_taxi_date" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

* To make conn with the db we need some lib, tutorial utilizes sqlalchemy
---

In [21]:
!pip install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in c:\users\junio\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.0.16)
Collecting psycopg2
  Downloading psycopg2-2.9.6-cp310-cp310-win_amd64.whl (1.2 MB)
                                              0.0/1.2 MB ? eta -:--:--
     -----------------------                  0.7/1.2 MB 21.4 MB/s eta 0:00:01
     ---------------------------------------- 1.2/1.2 MB 18.3 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\junio\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\junio\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy) (2.0.2)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

In [45]:
#remember the configuration in docker-compose for mount the conn url to pg
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

* Generate DDL Model for a specific database

In [23]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_date',con=engine))

CREATE TABLE yellow_taxi_date (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

#### Make a simple pipeline
* utilize iterator because you can save some ram reading chunks of data (you need to use another interator because its a parquet file)
* you can use df.head(n=0) to take the header and create a table based on this
---

In [46]:
#This parquet file has just one row group we will import all in one, so i will utilize the old df
#create table with header
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [47]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 40.5 s
Wall time: 2min 49s

769